.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    background: #ffffff;
    z-index: 99;
}
.header:after {
    content: '';
    height: 3px;
    width: 100%;
    display: block;
    background: -webkit-gradient(linear, left top, right top, from(#fbb3b4), to(#fc7c7d));
    background: linear-gradient(90deg, #fbb3b4, #fc7c7d);
    position: relative;
    top: 0;
}
.header .frame {
    height: 60px;
    position: relative;
}
.header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header .wrapper a {
    color: #394046;
    text-decoration: none;
}
.header .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media (min-width: 0px) {
    .header .container {
        width: 1080px;
    }
}
@media (min-width: 1400px) {
    .header .container {
        width: 1230px;
    }
}
.header .newTag {
    background: #f5a623;
    width: 45px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin: auto;
    float: left;
    margin-left: 2px;
    margin-top: 18px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0px;
}
.header .logo {
    float: left;
    height: 47px;
    width: 138px;
    font-size: 25px;
    line-height: 60px;
    text-align: left;
    background-color: #68d4e0;
    border-radius: 10px 10px 0 0;
}
.header .tap {
    width: 40px;
    height: 16px;
    background: #ff5e5e;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    margin-left: 3px;
    float: left;
    margin-top: 17px;
}
.header ul.nav {
    width: auto;
    float: left;
    margin: 0;
    padding-left: 50px;
}
@media (max-width: 1400px) {
    .header ul.nav {
        padding-left: 20px;
    }
}
.header ul.nav li {
    position: relative;
    float: left;
    width: 110px;
    line-height: 52px;
    border-top: solid 4px rgba(0,0,0,0);
    text-align: center;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header ul.nav li:nth-of-type(3):after {
    content: '\60E0';
    color: #fff;
    position: absolute;
    height: 16px;
    width: 22px;
    background-color: #f00;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    letter-spacing: 0;
    right: 0px;
    top: 17px;
    display: block;
    line-height: 16px;
    border-radius: 5px;
}
.header ul.nav li a, .header ul.nav li a:link, .header ul.nav li a:visited {
    height: 60px;
    color: #394046;
    text-decoration: none;
    font-size: 14px;
    display: block;
}
.header ul.nav li a:hover, .header ul.nav li a:link:hover, .header ul.nav li a:visited:hover {
    color: #42c2b3;
}
.header ul.nav li a span {
    float: left;
    margin-left: 27px;
}
.header ul.nav li.active {
    border-top: solid 4px #42c2b3;
    color: #42c2b3;
}
.header ul.nav li.active a {
    color: #42c2b3;
}
.header ul.info-nav {
    width: auto;
    float: right;
    margin: 0;
    padding-left: 0;
}
.header ul.info-nav li {
    float: left;
    width: 90px;
    line-height: 55px;
    text-align: center;
    list-style: none;
}
.header ul.info-nav li:hover a {
    color: #42c2b3 !important;
}
.header ul.info-nav li a, .header ul.info-nav li a:link, .header ul.info-nav li a:visited {
    color: #394046;
    text-decoration: none;
    font-size: 14px;
    display: block;
}
.header ul.info-nav li.active a {
    border-top: solid 5px #42c2b3;
    color: #42c2b3;
}
.header .nav-icon-hot {
    position: absolute;
    top: 18px;
    right: -15px;
    color: #fff;
    background: #f00;
    width: 35px;
    height: 16px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
}